
<span class="headerText">MENU</span>
<br>
<br>

<div class="button" (click)="queryButtonPressed()">
  <span class="buttonText">
    Query
  </span>
</div>
<br>

<a routerLink="/search" style="text-decoration:none;">
  <div class="button">
    <span class="buttonText">
      Search
    </span>
  </div>
</a>
<br>

<div class="button" (click)="changeButtonPressed()">
  <span class="buttonText">
    Change
  </span>
</div>
<br>

<a routerLink="/settings" style="text-decoration:none;">
  <div class="button">
    <span class="buttonText">
      Settings
    </span>
  </div>
</a>
<br>
