	
  <app-logo-in-corner></app-logo-in-corner>

  <div class="OuterBox blueBackground">
    <div class="CenterBox">
      <div style="width: 25%; float: left; top:7px; position:relative">
        <span style="font-family: Montserrat;font-style: normal;font-weight: normal;line-height: normal;font-size: 26px;line-height: 32px;vertical-align: middle;display: inline-flex;">
          <i class="material-icons" style=" line-height: 32px;font-size: 32px;">chevron_left</i>
          Back
        </span>
      </div>
      <div style="width: 50%; float: left;">
        <span class="menuHeader">Settings</span>
      </div>
              
      <div style='clear: both;'>
      </div>
      
      <br>
      <div>
        <span class="menuButtonHeader">Primary Language</span>
        <div class="menuButtonOutline">
          <div class="menuButtonTextOutline" contenteditable="true" spellcheck="false" data-placeholder="Primary Language" id="PrimaryLanguage"></div>
        </div>
      </div>
      <br>
      <div>
        <span class="menuButtonHeader">Secondary Language</span>
        <div class="menuButtonOutline">
          <div class="menuButtonTextOutline" contenteditable="true" spellcheck="false" data-placeholder="Secondary Language"></div>
        </div>
      </div>
      <br>
      <br>
      <div class="menuButton">
        <span class="menuButtonText">
          Log out
        </span>
      </div>
      <br>
      <div class="menuButton">
        <span class="menuButtonText">
          Delete Account
        </span>
      </div>
    
    </div>

<script type="text/javascript">
  window.onload = function() {
      document.getElementById("PrimaryLanguage").focus();
  };
</script>

