<div style="width: 25%; float: left; top:7px; left: 3px; position:relative; cursor: pointer;" (click)="backButtonPressed()" (keypress)="backButtonPressed()" tabindex="0">
    <span style="font-family: Montserrat;font-style: normal;font-weight: normal;line-height: normal;font-size: 26px;line-height: 32px;vertical-align: middle;display: inline-flex;">
      <i class="material-icons" style=" line-height: 32px;font-size: 32px;">chevron_left</i>
      <div class="content-desktop">
        Back
      </div>
    </span>
</div>