<app-button-back></app-button-back>
<div style="width: 50%; float: left;">
  <span class="headerText">LOGIN TO SYNC</span>
</div>

<div style='clear: both;'>
</div>

<br>
<div>
  <span class="buttonHeader">Username</span>
  <div class="buttonOutline">
    <div class="buttonOutlineText">
      <div class="editableDiv" placeholder="Your name 🦉" autocorrect='off' contenteditable="true" spellcheck="false" #user>
      </div>
    </div>
  </div>
</div>
<br>
<div>
  <span class="buttonHeader">Password</span>
  <div class="buttonOutline">
    <div class="buttonOutlineText">
      <div class="editableDiv" placeholder="Your secret 🤫" autocorrect='off' contenteditable="true" spellcheck="false" #password>
      </div>
    </div>
  </div>
</div>
<br>
<div class="button" (click)="login()" (keypress)="login()" tabindex="0">
  <span class="buttonText">
    Login / Register
  </span>
</div>