	
  <app-logo-in-corner></app-logo-in-corner>

  <div class="OuterBox blueBackground">
    <div class="CenterBox">
        <app-button-back></app-button-back>
          <div style="width: 50%; float: left;">
            <span class="headerText">Search</span>
          </div>
                  
          <div style='clear: both;'>
          </div>
          
          <br>
          <div class="buttonOutline">
            <div class="buttonOutlineText" contenteditable="true" spellcheck="false" data-placeholder="Search Text" id="SearchText"></div>
          </div>
          
          <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"><app-var-primary-language></app-var-primary-language></th>
					      <th scope="col"><app-var-secondary-language></app-var-secondary-language></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <script type="text/javascript">
        window.onload = function() {
          document.getElementById("SearchText").focus();
        };
      </script>
      