@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
	margin: 0; 
	width:100%; 
	height: 100%; 
	overflow: hidden
}

html *:not(i)
{
	font-family: Montserrat !important;
}

.blueBackground {
	background: #4596E8;
	position: absolute;
	height: 100%;
}

.button {
	position: relative;
	overflow: hidden;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;

	background: #4596E8;
	border: 1px solid #4596E8;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 7.5px 0;
}

.buttonText {
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
}

.buttonOutline {
	position: relative;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #ffffcc;
	border: 1px solid #4596E8;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 7.5px 0;
}

.buttonOutlineText {
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	font-size: 26px;
	text-align: center;
	color: #000000;
}

.buttonOutlineDisabled {
	pointer-events:none;
	position: relative;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #b3b3b3;
	border: 1px solid #4596E8;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 7.5px 0;
}

.buttonOutlineTextDisabled {
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	font-size: 26px;
	text-align: center;
	color: #6b6b6b;
}

div[data-placeholder]:empty:before {
	content: attr(data-placeholder);
	color: #b3b3b3;
}

.headerText {
	position: relative;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.buttonHeader {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: #000000;
}

.divCorner {
	width: 20%; 
	height:15%; 
	float: left;
}

.logoInCorner {
	position: absolute;
	cursor: pointer;
	width: 10%;
	left: 20px;
	top: 20px;
	border-radius: 25px;
}

.OuterBox {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	width: 100%; 
	height: 100%;
}

.CenterBox {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	overflow: auto; 
	border-color: #C4C4C4;
	border-style:solid; 
	border-bottom-width: 20px; 
	border-top-width: 20px;
	border-radius: 50px; 	
	width: 60%; 
	max-height:70%; 
	float: left; 
	background: #C4C4C4; 
	text-align: center; 
	vertical-align: middle;
	top: 50%;
	transform: translate(0%, -50%);
	position: absolute;
}

.MobileCenterBox {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	overflow: auto;	
	width: 100%; 
	height: 100%; 
	float: left; 
	background: #C4C4C4; 
	text-align: center; 
	vertical-align: middle;
}

.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 600px) {

.content-desktop {display: none;}
.content-mobile {display: block;}

}