#loadingBox {
    width: 100%; height: 100%; position: absolute; background:rgba(255,255,255,0.5);
}

#loadingInnerBox {
    position: absolute;
    margin: auto;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 150px;
    margin-top: -100px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	overflow: hidden;; 
	border-color: #C4C4C4;
	border-style:solid; 
	border-bottom-width: 20px; 
	border-top-width: 20px;
	border-radius: 50px; 	
	background: #C4C4C4; 
    text-align: center; 
    font-size: 18px;
    vertical-align: middle;
}