  <app-logo-in-corner></app-logo-in-corner>

  <div class="OuterBox blueBackground">
    <div class="CenterBox">
      <app-button-back></app-button-back>
      <div style="width: 50%; float: left;">
        <span class="headerText">Query</span>
      </div>
              
      <div style='clear: both;'>
      </div>
      
      <br>
      <div>
        <span class="buttonHeader"><app-var-primary-language></app-var-primary-language>:</span>
        <div style="top: 10%" class="buttonOutline">
          <div class="buttonOutlineText" spellcheck="false" data-placeholder="(Word on Primary Language) komplett erstetzen"></div>
        </div>
      </div>
      
      <br>
      <div>
        <span class="buttonHeader">Word on Secondary Language (erstetzen durch var):</span>
        <div style="top: 15%;" class="buttonOutline">
          <div class="buttonOutlineText" contenteditable="true" spellcheck="false" data-placeholder="(Word on Primary Language) komplett erstetzen in (Secondary Language) erstetzen durch var" id="SecondaryLanguage"></div>
        </div>
      </div>
      <br>
      <div class="button">
        <span class="buttonText">
          Check
        </span>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    window.onload = function() {
      document.getElementById("SecondaryLanguage").focus();
    };
  </script>